{% extends "base.html" %}

{% block title %} Ethan's About Page {% endblock %}

{% block content %}
<main class="container">
    <h1>Welcome to Ethan's About Page.</h1>
    <p>This is the about page.</p>
<p> In my spare time, I enjoy running, watching football, and exploring new technologies. I love to learn about new advancements in the tech world and apply them to my projects. I have recently been working on a personal project that involves building a web application using Flask and Bootstrap.</p>
</main>
{% endblock %}